/**
* DECLARE COLORS
*/

:root {
    /* Main colors */
    --m-purple: #160B23;
    --m-white: #EFF1F3;
    --m-pink: #F7D9EC;
    --m-orange: #F8BB9B;
    --m-red: #F37373;
    --m-deep-red: #B52A2A;

    /* Y2k colors */
    --y2k-primary: #F37373;    /* Hot pink */
    --y2k-secondary: #F8BB9B;  /* Cyan */
    --y2k-border: #c0c0c0;     /* Silver */
    --y2k-border-secondary: #808080; /* Darker silver */
    --y2k-text: #ffffff;       /* White */
    --y2k-shadow: #160B23;     /* Black */
    
    /* Gradients */
    --y2k-gradient: linear-gradient(
        to bottom,
        var(--y2k-secondary),
        var(--y2k-primary)
    );
    
    /* Background colors */
    --bg-main: #000000;
    --bg-secondary: var(--m-purple);;  /* Navy */
    
    /* Text colors */
    --text-primary: #ffffff;
    --text-secondary: var(--m-pink);;
  }
